:root {
    /* 定义窗口边距，为视窗宽度的5% */
    --window-margin: 5vw;

    /* 定义头部的高度，固定为80像素 */
    --header-height: 80px;

    /* 定义鼠标悬停时的文本颜色，使用柔和的蓝色 */
    --hover: rgb(135, 135, 255);

    /* 定义激活状态的颜色，纯蓝色 */
    --activate: rgba(0, 0, 255, 1);

    /* 定义阴影效果，使用非常轻微的黑色阴影 */
    --shadow: 0px 0px 38px rgba(0, 0, 0, 0.12);
}